@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
}
nav img{
    height: 8rem;
}
nav,ul{
    display: flex;
    list-style: none;
}
nav li a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-color: white;
}
.whole-nav-wrapper,nav{
    position: fixed;
    background-color: white;
    width: 100%;
}
.nav-detail{
    display: flex;
    gap: 2rem;
}
.nav-contacts{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}
.nav-media{
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-media i{
    color: #f8b342;
}
.nav-phone{
    display: flex;
    font-size: 1.4rem;
    gap: .5rem;
    align-items: center;
}
.nav-phone img{
    height: 2rem;
}
.nav-ul{
    gap: 4rem;
    font-size: 1.2rem;
}
.nav-ul a:hover{
    color: #F8B342;
}
.active{
    color: #F8B342;
}
.nav-ul a{
    color: black;
}
.search-field input{
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 1rem;
}
.search-field{
    border: 0.2rem solid #F8B342;
    display: flex;
    align-items: center;
    width: 15rem;
    padding: .5rem;
    gap: .2rem;
    font-size: 1.2rem;
}
.search-field:hover{
    border: .1rem solid #F8B342;
}
.fa-house{
    font-size: 1.6rem;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 4rem;
    margin: 8rem 0 0 0;
    background-image: linear-gradient(to right top, #f8b342, #d68643, #ab5f41, #794038, #462628, #462628, #462628, #462628, #794038, #ab5f41, #d68643, #f8b342);
}
main h1{
    font-size: 3.9rem;
}
.banner-img img{
    height: auto;
    max-width: 50rem;
}
.banner-img{
    background-color: #f8b342;
    border-radius: 60% 40% 67% 33% / 35% 68% 32% 65% ;
    padding: 4rem;
}
.banner-content{
    color: white;
    max-width: 40%;
}
.banner-content span{
    color: #F8B342;
}
.banner-content p{
    font-size: 1.2rem;
}
.b-title{
    font-size: 1.4rem;
    font-weight: bold;
}
.banner-content input{
    font-size: 1.4rem;
    background-color: #3D2C11;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    color: white;
}
.banner-content input:hover{
    background-color: #00DCA2;
    transition-duration: .5s;
    color: white;
    cursor: pointer;
}
.bar-search{
    display: flex;
    align-items: center;
    gap: .8rem;
    flex-direction: row-reverse;
}
.btn{
    display: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: white;
    padding: 1rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-btn:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{
    background-color: #F8B342;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .sidepanel a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #f8b342;
    display: block;
    transition: 0.3s;
    margin: 5rem;
  }

  .sidepanel a:hover {
    color:  #00DCA2;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
  }
  .btn button{
    background-color: transparent;
    border: none;
  }

/* banner-ends here */

/* about us part starts here */
.about-us{
    display: flex;
    padding: 8rem 6rem;
    align-items: center;
    background-color: black;
}
.about-h{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin: 1rem 0;
}
.about-us p{
    font-size: 1.2rem;
    margin: 1rem 0;
    color: white;
}
.ab-card-wra{
    margin: 2rem 0;
    color: #F8B342;
}
.about-content p{
    font-size: 1.2rem;
    margin: 0;
    width: 80%;
}
.ab-card img{
    height: 2.5rem;
    margin-right: .5rem;
}
.fa-horizontal-rule{
    background-color: black;
    height: .2rem;
    width: 2rem;
}
.ab-card-wra,.ab-card{
    display: flex;
}
.ab-card p{
    font-size: 1.2rem;
}
.ab-title{
    font-size: 1.4rem;
    font-weight: bold;
}
.about-title{
    font-size: 1.6rem;
    color: #F8B342;
    font-weight: bold;
}
.ab-name div{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.ab-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ab-name span{
    font-weight: bold;
    font-size: 1.4rem;
}
/* about us part ends here */


/* services starts here */

.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 8rem 0;
}
.services-header{
    font-size: 1.6rem;
    font-weight: bold;
    color: #F8B342;
}
.services-container span{
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    max-width: 60%;
}
.ser-card img{
    height: 10rem;
}
.ser-card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.ser-card p,.read-btn input{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.read-btn input{
    background-color: #3D2C11;
    border: none;
    color: white;
    border-radius: 2rem;
    padding: .8rem 1.4rem;
}
.read-btn input:hover{
    background-color:  #00DCA2;
    cursor: pointer;
    transition: .3s;
}
.ser-card{
    padding: 3rem;
    max-width: 40rem;
}
.ser-card:hover{
    background-image: linear-gradient(to right top, #f8b342, #d68643, #ab5f41, #794038, #462628, #462628, #462628, #462628, #794038, #ab5f41, #d68643, #f8b342);
    transition: .5s;
    color: white;
    border-radius: 1rem;
}
.ser-cards-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    padding: 4rem;
    margin-top: 2rem;
}
/* services ends here */
.quote{
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0;
}

/* recent project starts here */
.project-wrapper img{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}
.recent-project{
    display: flex;
    justify-content: space-between;
    padding: 6rem;
    background-color: black;
    align-items: center;
    align-items: center;
    margin: 4rem 0;
}
.rec-title{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #F8B342;
    gap: .4rem;
}
.rec-title i{
    background-color: #F8B342;
}
.rec-header{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
}
.rec-header span{
    color: #F8B342;
}
.rec-content{
    max-width: 30rem;
    color: white;
}
.rec-content p{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
}

/* our work starts here */
.our-work{
    display: flex;
    align-items: center;
    padding: 4rem;
}
.our-img img{
    height: 40rem;
}
.work-content{
    padding: 4rem;
}
.work-title{
    font-size: 1.4rem;
    color: #F8B342;
    font-weight: bold;
}
.work-header{
    font-size: 3.2rem;
    font-weight: 700;
}
.work-fe{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.work-fe img{
    height: 4rem;
}
.work-fe-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding: 1rem 0;
}
.work-content p{
    font-size: 1.2rem;
}

/* our work ends here */

/* industries starts here */
.industries{
    background-color: black;
    padding: 6rem;
    margin: 4rem 0;
}
.industries p{
    font-size: 1.2rem;
    max-width: 70%;
    text-align: center;
    color: white;
}
.industries,.ind{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.ind-title{
    font-size: 1.6rem;
    color: #F8B342;
    font-weight: bold;
}
.ind-header{
    font-size: 3.2rem;
    font-weight: 600;
}
.ind img{
    height: 5rem;
}
.ind-container{
    display: flex;
    gap: 7rem;
    margin: 2rem 0;
}
.ind{
    font-size: 1.2rem;
    font-weight: 600;
    gap: .2rem;
}

/* industries ends here */

/* team members starts here */
.our-team{
    padding: 6rem;
}
.team-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-header span{
    font-size: 1.4rem;
    color: #F8B342;
    font-weight: 600;
}
.team-header2,.team-header2 span{
    font-weight: 600;
    font-size: 3.2rem;
}
.team-header2{
    max-width: 60%;
}
.our-team-btn button{
    font-size: 1rem;
    background-color: #F8B342;
    color: white;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    outline: none;
}
.our-team-btn button:hover{
    background-color: #00DCA2;
    transition: 0.3s;
}
.team-card img{
    max-height: 20rem;
}
.t-name{
    font-size: 1.4rem;
    font-weight: 600;
}
.t-position{
    font-size: 1rem;
}
.team-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}
.social-media i{
    font-size: 1.6rem;
    display: flex;
    width: fit-content;
}
.social-media{
    display: flex;
    gap: .4rem;
}

/* testimonial part start here */
.tes-img img{
    height: 15rem;
    border-radius: 100%;
}

.tes-card{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
    border-radius: .6rem;
}
.tes-title{
    font-size: 1.4rem;
    color: #F8B342;
    font-weight: 600;
}
.tes-header{
    font-size: 3.2rem;
    text-align: center;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    background-color: black;
    margin: 4rem 0;
    color: white;
}
.tes-comment{
    font-size: 1.2rem;
    text-align: justify;
    color: white;
}
.tes-card-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4rem;
    margin-top: 2rem;
}
.tes-name{
    font-size: 1.4rem;
    color: #F8B342;
}
.shadow{
    background-color: #F8B342;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.25);
    color: black;
}
.shadow .tes-name{
    color: white;
    font-weight: 600;
}
.shadow .tes-comment{
    color: black;
}



/* solve your it needs starts here */
.itneed{
    background-image: url(photosrc/tech.png);
    height: 30rem;
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.it-header{
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
}
.itneed p{
    font-size: 1.2rem;
    color: white;
    max-width: 40%;
    margin: 1rem 0;
}
.contact-btn button{
    font-size: 1rem;
    color: white;
    background-color: #F8B342;
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
}
.contact-btn button:hover{
    background-color:  #00DCA2;
    transition: 0.3s;
    cursor: pointer;
}
.it-content{
    padding-left: 6rem;
}


/* blog starts here */
.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
}
.blog-container a{
    text-decoration: none;
    color: black;
}
.bl-title{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.comment-profile{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.blog span{
    color:#F8B342;
}
.bl-header{
    font-size: 3.2rem;
}
.blog-img img{
    width: 100%;
    height: 25rem;
}
.blog-container{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    gap: 10rem;
    margin-top: 2rem ;
}
.blog-card{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
}
.blog-content{
    padding: .5rem;
}
.blog i{
    color: #F8B342;
}
.blog p{
    font-size: 1.2rem;
    font-weight: 500;
}
.comment,.date,.profile{
    font-size: 1rem;
}
.comment{
    display: flex;
    gap: .3rem;
    align-items: center;
}


/* footer starts here */
.f-img img{
    height: 6rem;
}
.sec-row,.f-row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    color: white;
}
footer a,.footer-abt{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
footer a:hover{
    color: #F8B342;
}
footer li{
    list-style: none;
}
footer{
    padding: 8rem 8rem 2rem 8rem;
    background-color: black;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.f-row{
    max-width: 20%;
}
.li-head{
    font-size: 1.4rem;
    font-weight: 600;
    color: #F8B342;
}
.sec-row li i{
    margin-right: .2rem;
}
.f-email input,.f-email button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
}
.f-email{
    border: .1rem solid #F8B342;
    padding: .5rem;
    border-radius: .4rem;
    width: fit-content;
}
.f-email button{
    cursor: pointer;
}
.f-email button:hover{
    color: #F8B342;
    transition: .3s;
}
.copywright{
    margin-top: 6rem;
    font-size: 1rem;
    color: white;
}

/* home page ends here */

/* aboutus page starts here */
.abt-pg-main{
    display: flex;
    align-items: center;
    padding: 6rem;
    /* background-color: rgba(248, 179, 66, 0.47); */
}
.abt-pg-img{
    padding: 2rem;
}
.abt-pg-img img{
    height: 50rem;
}
.abt-content-title{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #F8B342;
    font-weight: bold;
}
.abt-con-header{
    font-size: 3.2rem;
    padding: .5rem 0;
}
.abt-content-title i{
    width: 2rem;
    background-color: #F8B342;
    height: .1rem;
    margin-right: .2rem;
}
.abt-con-header span{
    color: #F8B342;
}
.abt-pg-content p{
    font-size: 1.2rem;
    text-align: justify;
    color: #504538;
}
.abt-pg-card-wrapper{
    justify-content: space-around;
    padding: 2rem;
}
.abt-pg-card{
    flex-direction: column;
    max-width: 30%;
    gap: .5rem;
    padding: 2rem;
}
.abt-pg-card p{
    text-align: justify;
    margin: .5rem 0;
    color: #3D2C11;
}
.ab-pg-card-img img{
    height: 5rem;
}
.why-title{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: .5rem;
}
.abt-line{
    width: 4rem;
    background-color: #F8B342;
}
.why-header{
    font-size: 3.2rem;
    text-align: center;
    max-width: 40%;
}

.whyus{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
}


/* contact us starts here */
.contact-banner{
    background-image: url(./photosrc/contact-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem;
    margin-top: 8rem;
}
.c-banner-title,.contact-banner p{
    color: white;
    font-size: 3.2rem;
    margin: auto;
    width: fit-content;
    font-weight: 500;
}
.contact-banner a{
    text-decoration: none;
    color: white;
}
.contact-banner a:hover{
    color: #00DCA2;
}
.contact-banner p{
    font-size: 1.2rem;
    color: white
}

.contact-icon img{
    height: 3rem;
}
.contact-header{
    font-size: 3.2rem;
    font-weight: bold;
}
.contact-card-wrapper{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.contact-content-wrapper{
    display: flex;
    padding: 4rem;
}
.contact-title{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #504538;
}
.contact-content p{
    font-size: 1.2rem;
}
.contact-card span{
    font-size: 1.4rem;
    font-weight: 600;
}
.contact-card p{
    font-size: 1.2rem;
}
.contact-card{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: .2rem solid black;
    border-radius: .4rem;
    box-shadow: .2rem .2rem .2rem .3rem rgb(237, 231, 231);
    padding: 4rem;
}
.contact-card:hover {
    background-color: #00DCA2;
    transition: 0.3s;
}
.contact-form-container{
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    margin: 4rem 0;
}
.contact-img img{
    height: 60rem;
}
.c-form-title{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    gap: .5rem;
    color: #504538;
}
.c-form-title i,.contact-title i{
    background-color: #F8B342;
    height: .2rem;
    width: 3rem;
}
.c-form-header{
    font-size: 3.2rem;
    font-weight: 600;
}
.c-form-header span,.contact-header span{
    color: #F8B342;
}
.input-ctrl{
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    width: 100%;
}
.input-ctrl input,.submit-btn button{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    outline:none;
    background-color: transparent;
    width: 100%;
    border: .1rem solid gray;
    border-radius: .4rem;
}
.input-ctrl input:hover,textarea:hover{
    border: .1rem solid #F8B342;
}
.contact-form{
    padding: 2rem;
}
.input-ctrl textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    height: 20rem;
    color: gray;
    outline: none;
}
.submit-btn button:hover{
    background-color: #00DCA2;
    border: none;
    transition: 0.3s;
}
.contact-media{
    margin: 1rem 0;
    color: #F8B342;
}

/* web dev page starts here */
.web-pg-img img{
    height: 30rem;
}
.feature-card img{
    height: 5rem;
}
.features{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 10rem;
}
.feature-title{
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.feature-title i{
    background-color: #F8B342;
    width: 4rem;
}
.feature-card-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem 4rem;
}
.feature-card{
    display: flex;
    gap: 1rem;
}
.fea-txt p{
    font-size: 1rem;
    color: #3D2C11;
}
.fea-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.web-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.web-card img{
    height: 20rem;
}
.web-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.web-name{
    background-color: black;
    font-size: 1.4rem;
    position: absolute;
    text-align: center;
    color: #F8B342;
    padding: 2rem;
}
.web-name:hover{
    background-color: #00DCA2;
    color: black;
    transition: 0.3s;
}
.web-name p{
    font-size: 1.2rem;
}
.web-card-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    padding: 2rem;
}
.margin-for-services-pg{
    margin-top: 4rem;
}


.recent-pr-he{
    font-size: 2.8rem;
    max-width: 50%;
    text-align: center;
}
.recent-pr-he span{
    color: #F8B342;
}
.service-pg{
    margin: 6rem;
}
.service-pg-banner{
    background-image: url(./photosrc/service-pg-banner.jpg);
}

/* our team page starts here */
.our-team-pg{
    background-image: url(./photosrc/our-team-pg-banner.jpg);
}
.our-team-pg-header{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}
.our-team-pg-header2{
    width: fit-content;
    margin: auto;
}
.team-pg-card-container{
    gap: 4rem 0;
}
.our-team i{
    color: #f8b342;
}

/* pricing starts here */

.price-title{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.price-title i{
    width: 4rem;
    background-color: #f8b342;
}
.price-con-head{
    font-size: 3.2rem;
}
.price-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
}
.price-container p{
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
}
.price-card-header{
    font-size: 3.2rem;
    color: #f8b342;
}
.price{
    font-size: 2.4rem;
    color: white;
}
.price-card img{
    height: 1.2rem;
}
.price-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #f8b342, #c87843, #8a493b, #462628, #000000);
    padding: 6rem;
    border-radius: 2rem;
}
.center-price-card{
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000);
}
.price-feature-wrapper{
    margin: 1rem 0;
}
.price-feature{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .5rem 0;
}
.price-feature span{
    font-size: 1.4rem;
    color: white;
}
.price-card-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    padding: 4rem;
}
.pricing-pg-banner{
    background-image: url(./photosrc/pricing-banner.jpg);
    background-position: bottom;
}


/* blog-pg-banner starts here */
.blog-pg-banner{
    background-image: url(./photosrc/blogs-banner.jpg);
}
.blog-card p{
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    color: rgb(58, 52, 52);
}
.blog-pg-card{
    display: flex;
    align-items: center;
}
.blog-pg-card img{
    height: 20rem;
    width: 100%;
}
.blog-pg-title{
    font-size: 1.8rem;
    color: #f8b342;
}
.blog-pg-card-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    gap: 4rem;
    margin: 2rem 0;
}
.blog-line-card img{
    height: 5rem;
}
.blog-pg-container{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
}
.blog-search{
    border: .1rem solid gray;
    width: fit-content;
    padding: .5rem;
}
.blog-search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}
.blog-search i{
    font-size: 1.4rem;
}
.most-read-title{
    font-weight: 600;
    color: #f8b342;
    font-size: 1.8rem;
}
.blog-line p{
    font-size: 1.2rem;
    padding: 1rem 0;
    border-bottom: .1rem solid gray;
}
.blog-line-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    max-width: 90%;
}
.blog-line{
    padding: 2rem 4rem;
}
.blog-date{
    font-size: 1rem;
    color: gray;
    margin-top: .4rem;
}
.blog-content i{
    color: #f8b342;
}
.span-date{
    font-weight: 600;
}
.most-read{
    margin: 2rem 0;
}
.feature-post{
    margin: 2rem 0;
}
.categories{
    background-color: #f8b342;
    width: fit-content;
    padding: .5rem .7rem;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}
.published-txt{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: .5rem;
}
.blog-detail-header{
    font-size: 2.4rem;
    margin: 1rem 0;
}
.blog-detail-img img{
    height: 40rem;
    width: 100%;
}
.blog-content{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
.blog-pg-card-container a{
    color: black;
}
.blog-content h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 2rem 0;
}
.blog-detail{
    max-width: 60%;
}
.user-comment{
    display: flex;
    margin: 2rem 0;
    gap: 2rem;
}
.user-comment img{
    height: 5rem;
}
.commenter{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.comment-date{
    font-size: .8rem;
    color: gray;
    margin-bottom: .2rem;
}
.comment-detail p{
    font-size: 1.2rem;
}
.no-of-comment{
    font-size: 1rem;
    text-decoration: underline;
}
.reply{
    font-size: 1rem;
    outline: none;
    border: .1rem solid gray;
    background-color: white;
    padding: .2rem 1rem;
    cursor: pointer;
    border-radius: .2rem;
}
.comment-box-header{
    font-size: 1.8rem;
    font-weight: 600;
}
.comment-txt{
    font-size: 1rem ;
    color: gray;
    margin-top: 1rem;
}
.comment-input-fields input,.comment-input-fields textarea,.submit button{
    outline: none;
    border: .1rem solid gray;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
}
.comment-input-fields{
    display: flex;
    gap: 1rem;
}
.comment-input-fields textarea{
    height: 10rem;
    width: 100%;
    margin: 1rem 0;
}
.comment-input-wrapper{
    width: fit-content;
    margin: 1rem 0;
}
.submit button{
    border-radius: 1rem;
    background-color: #3D2C11;
    color: white;
    padding: .7rem;
}
.submit button:hover{
    background-color: #00DCA2;
    transition: .3s;
}




@media (max-width:768px){
    html{
        font-size: 30%;
    }
    .nav-ul{
        display: none;
    }
    .btn{
        display: block;
    }
    .about-us,.our-work,.abt-pg-main,.contact-form-container,.blog-pg-container{
        flex-direction: column;
    }
    .recent-project{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    .team-card-container,.tes-card-container,.blog-container{
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
    }
    .footer-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
    }
    .f-row{
        max-width: 90%;
    }
    .contact-content-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}
@media (min-width:481px) and (max-width:768px){
    html{
        font-size: 35%;
    }
    .team-card-container,.tes-card-container{
        grid-template-columns: auto auto;
    }
    .blog-container{
        grid-template-columns: auto auto auto;
    }
    .contact-content-wrapper{
        display: flex;
    }
    .blog-pg-container{
        flex-direction: row;
    }
}
@media (min-width:769px) and (max-width:1024px){
    html{
        font-size: 40%;
    }
}
@media(min-width:1025px) and (max-width:1200px){
    html{
        font-size: 62.5%;
    }
}
@media (min-width:1201px){
    html{
        font-size: 62.5%;
    }
}